/* credentials.css */

@keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .reveal {
    display: inline-block; /* Ensure the span is treated as an inline block to animate properly */
    animation: slideIn 1s forwards; /* 1s can be adjusted to your preference for the duration */
  }
  
  .credential {
    margin-bottom: 10px; /* Add some space between the paragraphs for better readability */
  }

 .grades{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 10%;
 }
 .credential{
    display: flex;
    margin: 0;
    padding: 10px;
 }